:root {
  --color-primary: #580000;
  --color-primary-darker: #3d0000;
  --color-primary-lighter: #910000;
  --color-primary-2: #960202;
  --color-secondary: #ca9595;
  --color-light: #ebcdcd;
  --color-light-2: #b47e7e;
  --color-light-3: #916565;

  --color-logo-1: #8db6cd;
  --color-logo-2: #424242;

  --color-text-light: #ebcdcd;
  --color-text-light-opacity: #ebcdcda4;
  --color-text-dark: #4f2f2f;
  --color-text-darkest: #180e0e;

  --border-primary: #b37a7a;
  --border-secondary: #533a3a;

  --popup-buttons: top, #1d1d1d 10%, #636262 50%, #1d1d1d 90%;
  --popup-lines: #111111;
}

.contact {
  background: url(../../resources/mail.jpg),
    -webkit-gradient(linear, left top, left bottom, from(#ebcdcd), to(#580000));
  background: url(../../resources/mail.jpg),
    -o-linear-gradient(top, #ebcdcd, #580000);
  background: url(../../resources/mail.jpg),
    linear-gradient(to bottom, #ebcdcd, #580000);
  background-position: top;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: 87.5em) {
    background: url(../../resources/mail1400.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail1400.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail1400.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 75em) {
    height: 55rem;
    background: url(../../resources/mail1200.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail1200.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail1200.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 56.25em) {
    background: url(../../resources/mail900.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail900.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail900.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 37.5em) {
    height: 60rem;
    background: url(../../resources/mail600.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail600.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail600.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 31.25em) {
    background: url(../../resources/mail500.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail500.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail500.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }

  @media only screen and (max-width: 21.875em) {
    background: url(../../resources/mail350.jpg),
      -webkit-gradient(linear, left top, left bottom, from(#85a7bb), to(#141414));
    background: url(../../resources/mail350.jpg),
      -o-linear-gradient(top, #85a7bb, #141414);
    background: url(../../resources/mail350.jpg),
      linear-gradient(to bottom, #85a7bb, #141414);
    background-position: top;
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.contact-heading::before {
  background-color: rgba(216, 149, 149, 0.568);
}

.popup-inner-views label {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(2%, #580000),
    color-stop(50%, #bd2121),
    color-stop(98%, #580000)
  );
  background: -o-linear-gradient(top, #580000 2%, #bd2121 50%, #580000 98%);
  background: linear-gradient(top, #580000 2%, #bd2121 50%, #580000 98%);
  color: var(--color-text-light);

  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}

.popup-inner-views input:checked + label {
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#bd2121),
    color-stop(50%, #580000),
    to(#bd2121)
  );
  background: -o-linear-gradient(top, #bd2121 0%, #580000 50%, #bd2121 100%);
  background: linear-gradient(top, #bd2121 0%, #580000 50%, #bd2121 100%);
  -webkit-box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0px 0px 8px 3px rgba(0, 0, 0, 0.8);
  border-bottom: 1px solid #692f2f;
  color: var(--color-light);
  transition: all 0.2s !important;
  -webkit-transition: all 0.2s !important;
  -moz-transition: all 0.2s !important;
  -ms-transition: all 0.2s !important;
  -o-transition: all 0.2s !important;
}

.popup-inner-views input:checked + label:hover {
  color: rgb(247, 196, 196);
}

.skills-heading::before {
  background-color: rgba(88, 0, 0, 0.7);
}

.skills-box {
  background: linear-gradient(145deg, #d6b5b5, #fbdbdb);

  box-shadow: 12px 12px 24px #b09a9a, -12px -12px 24px #ecd0d0,
    inset 12px 12px 31px #c286865b, inset -12px -12px 31px #ffcdcd48;
}

.skills-title {
  text-shadow: 5px 5px 5px rgba(88, 0, 0, 0.4);
}

.skills-icon {
  filter: drop-shadow(5px 5px 5px rgba(88, 0, 0, 0.4));
  -webkit-filter: drop-shadow(5px 5px 5px rgba(88, 0, 0, 0.4));
}

.projects-heading::before {
  background-color: rgba(238, 121, 121, 0.63);
}

.projects-project {
  box-shadow: 13px 13px 18px #2f0000, inset 13px 13px 18px #2f00002f,
    -13px -13px 18px #810000, inset -11px -11px 18px #8100003a;
}

.projects-project-title {
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.15);
}

.projects-project-display-btnbox-btn {
  box-shadow: 10px 10px 15px #2f0000, -7px -7px 15px #810000,
    inset 5px 5px 10px #2f00007c, inset -5px -5px 10px #8100005e;
  text-shadow: 3px 3px 3px rgba(255, 255, 255, 0.1);
}

.projects-project-display-btnbox-btn:hover {
  box-shadow: 0 0 0 #2f0000, 0 0 0 #810000, inset 5px 5px 10px #2f0000e3,
    inset -5px -5px 10px #810000e0;
}
