.contact {
  margin-top: -5rem;
  background: url(../../resources/mail.jpg),
    linear-gradient(to bottom, #85a7bb, #141414);
  background-position: top;
  background-blend-mode: overlay;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  height: 60rem;
  color: var(--color-text-light);
  text-align: center;

  @include respond(tab-land) {
    height: 55rem;
  }

  @include respond(phone) {
    height: 60rem;
  }

  &-heading {
    padding: 13rem 0 2rem 0;
    position: relative;
    z-index: 5;
    display: inline-block;
    &::before {
      content: "";
      width: 130%;
      height: 2px;
      background-color: rgba(164, 211, 238, 0.4);
      border-radius: 20px;
      position: absolute;
      bottom: 2px;
      left: -15%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  &-text {
    font-size: 2.8rem;
    margin: 0 auto;
    width: 70%;
    padding: 4rem;

    @include respond(tab-land) {
      width: 80%;
    }

    @include respond(tab-port) {
      width: 90%;
    }

    @include respond(phone) {
      width: 95%;
    }
  }

  &-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35rem;
    height: 10rem;
    margin: 3rem auto 0 auto;
    background: linear-gradient(
      to bottom right,
      var(--color-light),
      var(--color-light-3)
    );
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    -webkit-box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);

    &-item {
      font-size: 5rem;
      margin: 0 2rem;

      &:hover {
        animation: pulsate-more 1.3s infinite;
        -webkit-animation: pulsate-more 1.3s infinite;
      }

      & a i {
        color: var(--color-primary);
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
        -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
      }
    }
  }
}
