.footer {
  background-color: var(--color-primary);

  height: 20rem;
  border-top: 1px solid var(--border-primary);
  position: relative;
  color: var(--color-text-light);

  &-box {
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }

  &-up {
    font-size: 4rem;
    position: absolute;
    right: 2rem;
    top: 8rem;
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

    @include respond(phone) {
      top: 15rem;
    }
  }

  &-theme {
    position: absolute;
    left: 2rem;
    top: 8.5rem;

    @include respond(phone) {
      top: 15rem;
    }
  }

  &-social {
    margin-top: 1.5rem;

    &-icon {
      font-size: 3rem;
      padding: 0 1rem;
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

      &-hover {
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        &:hover {
          transform: scale(1.3);
          -webkit-transform: scale(1.3);
          -moz-transform: scale(1.3);
          -ms-transform: scale(1.3);
          -o-transform: scale(1.3);
        }
      }

      &:not(:last-of-type) {
        border-right: 1px solid var(--border-primary);
      }
    }
  }

  &-navigation {
    &-list {
      list-style: none;
      @include respond(phone) {
        margin: 2rem 0;
        text-align: center;
      }

      &-item {
        display: inline-block;
        font-size: 2.5rem;
        padding: 0 1rem;

        @include respond(phone) {
          display: block;
          padding: 1rem 1.5rem;
        }

        @include respond(bp-small) {
          padding: 1rem;
        }

        &:not(:last-of-type) {
          border-right: 1px solid var(--border-primary);

          @include respond(phone) {
            border-right: unset;
            border-bottom: 1px solid var(--border-primary);
          }
        }
      }
    }
  }

  &-copyright {
    text-align: center;
    font-size: 1.6rem;
    margin-bottom: 1.5rem;
  }
}
