#projects {
  background-color: var(--color-primary);
  color: var(--color-text-light);
  padding: 15rem 0;
  margin-top: -5rem;
  letter-spacing: 1.3px;
  transform: skewY(3.5deg);
  -webkit-transform: skewY(3.5deg);
  -moz-transform: skewY(3.5deg);
  -ms-transform: skewY(3.5deg);
  -o-transform: skewY(3.5deg);

  border-bottom: 1px solid var(--border-primary);
}

.projects {
  text-align: center;
  &-heading {
    margin-top: -7rem;
    margin-bottom: 4rem;
    padding-bottom: 2rem;
    display: inline-block;
    position: relative;
    @include respond(bp-medium) {
      margin-bottom: 0;
    }

    &::before {
      content: "";
      width: 130%;
      height: 2px;
      background-color: rgba(164, 211, 238, 0.4);
      border-radius: 20px;
      position: absolute;
      bottom: 2px;
      left: -15%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  &-box {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;

    @include respond(tab-land) {
      flex-direction: column;
      align-items: center;
    }
  }

  &-project {
    margin-top: -7rem;
    transform: scale(0.7);
    -webkit-transform: scale(0.7);
    -moz-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    display: flex;
    flex-direction: column;
    //margin-left: -5rem;
    //background-color: var(--color-light);
    border: 3px solid var(--color-light);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 3rem 9rem;
    -webkit-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75),
      inset 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75),
      inset 10px 10px 9px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 8px 8px 10px 0px rgba(0, 0, 0, 0.75),
      inset 10px 10px 9px 0px rgba(0, 0, 0, 0.75);

    @include respond(bp-medium) {
      transform: scale(0.5);
      -webkit-transform: scale(0.5);
      -moz-transform: scale(0.5);
      -ms-transform: scale(0.5);
      -o-transform: scale(0.5);
      margin-top: -13rem;
      margin-bottom: -15rem;
    }

    @include respond(big-desktop) {
      margin-top: 5rem;
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
    }

    &-title {
      margin-bottom: 2.5rem;
      text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.8);
      transform: scale(1);
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);

      @include respond(bp-medium) {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
      }
    }

    &-showing {
      position: relative;
    }
    &-btnbox {
      flex-direction: row;
      display: flex;
      justify-content: space-evenly;
      margin-top: 4rem;
      @include respond(bp-medium) {
        margin-top: 5.5rem;
      }
    }
    &-button {
      // font-size: 2.5rem;
      padding: 1.3rem;
      -webkit-box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);
      box-shadow: 7px 7px 11px 0px rgba(0, 0, 0, 0.75);

      @include respond(bp-medium) {
        transform: scale(1.3);
        -webkit-transform: scale(1.3);
        -moz-transform: scale(1.3);
        -ms-transform: scale(1.3);
        -o-transform: scale(1.3);
      }
    }
  }
}
