#skills {
  background-color: var(--color-light);
  color: var(--color-primary);
  transform: skewY(3.5deg);
  -webkit-transform: skewY(3.5deg);
  -moz-transform: skewY(3.5deg);
  -ms-transform: skewY(3.5deg);
  -o-transform: skewY(3.5deg);
  margin-top: -5.5rem;
  padding: 13rem 10rem 11rem 10rem;
  letter-spacing: 1.3px;
  margin-bottom: 5rem;

  border-bottom: 1px solid var(--border-primary);
}

.unskew {
  transform: skewY(-3.85deg);
  -webkit-transform: skewY(-3.85deg);
  -moz-transform: skewY(-3.85deg);
  -ms-transform: skewY(-3.85deg);
  -o-transform: skewY(-3.85deg);
}

.skills {
  text-align: center;

  &-heading {
    margin-bottom: 5rem;
    margin-top: -5rem;
    padding-bottom: 2rem;
    // border-bottom: 2px solid #1d1d1d71;
    display: inline-block;
    position: relative;
    &::before {
      content: "";
      width: 130%;
      height: 2px;
      background-color: rgba(29, 29, 29, 0.4);
      border-radius: 20px;
      position: absolute;
      bottom: 2px;
      left: -15%;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
    }
  }

  &-box {
    width: 25rem;
    //height: 300px;
    background-color: var(--color-primary);
    color: var(--color-light);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    -webkit-box-shadow: 10px 10px 10px 0px rgba(58, 22, 22, 0.65),
      inset 5px 5px 10px 0px rgba(164, 211, 238, 0.6);
    -moz-box-shadow: 10px 10px 10px 0px rgba(29, 29, 29, 0.65),
      inset 5px 5px 10px 0px rgba(164, 211, 238, 0.6);
    box-shadow: 10px 10px 10px 0px rgba(29, 29, 29, 0.65),
      inset 5px 5px 10px 0px rgba(164, 211, 238, 0.6);
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all 0.3s !important;
    -webkit-transition: all 0.3s !important;
    -moz-transition: all 0.3s !important;
    -ms-transition: all 0.3s !important;
    -o-transition: all 0.3s !important;

    @include respond(big-desktop) {
      width: 28rem;
    }

    @include respond(phone) {
      width: 30rem;
      height: 40rem;
    }

    &:not(:last-of-type) {
      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &:hover {
      transform: scale(1.15);
      -webkit-transform: scale(1.15);
      -moz-transform: scale(1.15);
      -ms-transform: scale(1.15);
      -o-transform: scale(1.15);
    }

    &-title {
      padding: 2.5rem 0 2rem 0;
      font-size: 2.5rem;
    }

    &-icon {
      font-size: 6.5rem;
      display: inline-block;
      margin-bottom: 2rem;
      filter: drop-shadow(5px 5px 5px rgba(164, 211, 238, 0.3));
      -webkit-filter: drop-shadow(5px 5px 5px rgba(164, 211, 238, 0.3));
    }

    &-item {
      margin: 0.5rem 0;
      font-size: 1.6rem;
      width: 55%;
      text-align: center;

      &:not(:last-child) {
        border-bottom: 1px solid var(--border-primary);
        padding-bottom: 5px;
      }

      &:last-child {
        margin-bottom: 2.5rem;
      }
    }

    &-container {
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;

      @include respond(tab-land) {
        justify-content: space-between;
      }

      @include respond(phone) {
        flex-direction: column;
        align-items: center;
      }

      @include respond(big-desktop) {
        justify-content: space-around;
      }
    }
  }
}
