.projects-project {
  &-laptop {
    width: 500px; // 1.417
    height: 312px;
    border: 1px solid rgb(22, 22, 22);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    background: linear-gradient(
      70deg,
      #3d4144 0%,
      #3d4144 58%,
      #4d5155 58.5%,
      #4d5155 100%
    );

    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8),
      inset 5px 5px 10px 5px rgba(22, 22, 22, 0.25);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8),
      inset 5px 5px 10px 5px rgba(22, 22, 22, 0.25);
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.8),
      inset 5px 5px 10px 5px rgba(22, 22, 22, 0.25);
    &-img {
      position: absolute;
      width: 450px;
      height: 262px;
      border: 1px solid rgba(22, 22, 22, 0.9);
      background-size: cover;
      background-position: center;
      left: 25px;
      bottom: 25px;
      background-image: url(/resources/projects/1-laptop.jpg);
    }
    &::before,
    &::after {
      display: block;
      content: "";
      position: absolute;
    }

    &::before {
      width: 450px;
      height: 262px;
      border: 1px solid rgba(22, 22, 22, 0.9);
      background-size: cover;
      background-position: center;
      left: 25px;
      bottom: 25px;
    }
    &::after {
      width: 14px;
      height: 14px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      //   background-color: rgb(22, 22, 22);
      background: radial-gradient(
        circle,
        rgb(44, 44, 44) 0%,
        rgb(10, 10, 10) 100%
      );
      border: 1px solid #222425e0;
      left: 241px;
      top: 4px;
    }
    &-brand {
      position: absolute;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      //background-color: rgb(158, 158, 158);
      background: linear-gradient(
        right,
        rgba(22, 22, 22, 0.6) 0%,
        rgb(158, 158, 158) 100%
      );
      color: rgb(22, 22, 22);
      padding-left: 1px;
      padding-top: 1px;
      bottom: 4px;
      left: 242px;
      font-weight: bold;
    }
    &-bottom {
      position: absolute;
      z-index: 1;
      width: 600px;
      height: 30px;
      background-color: #b0b0b4;
      bottom: -30px;
      left: -50px;
      border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      -moz-border-radius: 4px 4px 0 0;
      -ms-border-radius: 4px 4px 0 0;
      -o-border-radius: 4px 4px 0 0;
      border: 1px solid rgba(22, 22, 22, 0.75);
      -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
      -moz-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
      box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.6);
      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 2;
        background-color: rgb(116, 116, 116);
        width: 170px;
        height: 12.5px;
        left: 215px;
        border-radius: 0px 0px 4px 4px;
        -webkit-border-radius: 0px 0px 4px 4px;
        -moz-border-radius: 0px 0px 4px 4px;
        -ms-border-radius: 0px 0px 4px 4px;
        -o-border-radius: 0px 0px 4px 4px;
        border: 1px solid rgba(22, 22, 22, 0.15);
      }

      &-shadow {
        position: absolute;
        z-index: 1000;
        width: 100%;
        height: 10px;
        bottom: -10px;
        left: 0;
        background-color: #d3d3d373;
        opacity: 25%;
        border-bottom-left-radius: 75px 25px;
        border-bottom-right-radius: 75px 25px;
        -webkit-box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 5px 11px -1px rgba(0, 0, 0, 0.75);
      }
    }
  }
  &:nth-of-type(1) &-laptop::before {
    background-image: url(/resources/projects/1-laptop.jpg);
  }
  &:nth-of-type(2) &-laptop::before {
    background-image: url(/resources/cv.jpg);
  }
}
