.popup {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 10000000;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.8);

  @supports (backdrop-filter: blur(15px)) or
    (-webkit-backdrop-filter: blur(15px)) {
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
  }
  display: flex;
  align-items: center;
  justify-content: center;

  transition: opacity 0.3s;

  &:target {
    visibility: visible;
    opacity: 1;
  }

  &:target &-inner {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }

  &-inner {
    position: relative;
    width: 80%;
    height: 80%;
    transform: scale(0);
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -ms-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition-delay: 0.3s;
    z-index: inherit;
    //opacity: 0;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    -webkit-box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);
    box-shadow: 7px 7px 12px 3px rgba(0, 0, 0, 0.7);
    display: flex;

    @include respond(tab-land) {
      width: 90%;
    }

    @include respond(tab-port) {
      width: 90%;
      height: 80%;
    }

    @include respond(bp-medium) {
      height: auto;
    }

    @include respond(phone) {
      flex-direction: column;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
    }

    &-views {
      background: linear-gradient(
        to right bottom,
        var(--color-primary) 0%,
        var(--color-primary-2) 100%
      );
      border-bottom-left-radius: inherit;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;

      @include respond(phone) {
        border-bottom-left-radius: unset;
      }

      width: 100%;
      // height: 100%;

      &-line {
        display: inline-block;
        height: 5rem;
        position: absolute;
        width: 2px;
        background-color: var(--popup-lines);

        &:nth-of-type(1) {
          left: 25.5%;
        }
        &:nth-of-type(2) {
          right: 48.8%;
        }

        @include respond(popup-big) {
          &:nth-of-type(1) {
            left: 23.9%;
          }
          &:nth-of-type(2) {
            right: 52.1%;
          }
        }

        @include respond(phone) {
          &:first-of-type {
            display: none;
          }
          &:not(:first-of-type) {
            left: 50%;
          }
        }
      }

      & label {
        &:first-of-type {
          border-top-left-radius: 15px;

          @include respond(phone) {
            border-top-right-radius: 15px;
            border-bottom: 1px solid var(--popup-lines);
          }
        }
        font-size: 2.6rem;
        color: var(--color-text-light);
        letter-spacing: 2.5px;
        font-weight: bold;
        text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.75);
        padding: 0.7rem 0;
        text-align: center;
        width: 33.33333%;

        &:not(:first-child) {
          margin-right: -0.33333333333334%;
        }

        height: 5rem;
        display: inline-block;
        background: linear-gradient(top, #1d1d1d 10%, #636262 50%, #1d1d1d 90%);
        border-bottom: 1px solid var(--popup-lines);
        transition: all 0.3s ease-out 0.05s;
        -webkit-transition: all 0.3s ease-out 0.05s;
        -moz-transition: all 0.3s ease-out 0.05s;
        -ms-transition: all 0.3s ease-out 0.05s;
        -o-transition: all 0.3s ease-out 0.05s;

        @include respond(phone) {
          font-size: 2.2rem;
          padding: 1rem 0 0.5rem 0;
          width: 100%;
          &:not(:first-of-type) {
            width: 50%;
          }
        }

        @include respond(bp-small) {
          &:not(:first-of-type) {
            width: 49.9%;
          }
        }

        &:hover {
          cursor: pointer;
          color: black;
        }
      }

      & input {
        display: none;

        &:checked + label {
          background: linear-gradient(
            top,
            #636262 0%,
            #292929 50%,
            #636262 100%
          );
          -webkit-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
          -moz-box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.9);
          box-shadow: inset 0px 0px 10px 5px rgba(0, 0, 0, 0.9);

          border-bottom: 1px solid #555555;

          &:hover {
            color: rgb(114, 114, 114);
          }
        }
      }

      &-view {
        backface-visibility: hidden;
        overflow: hidden;

        &-title {
          color: var(--color-text-light);
        }

        & > div {
          display: none;
        }
      }
    }

    &-content {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: var(--color-light);
      background: linear-gradient(
        to right bottom,
        var(--color-light) 0%,
        var(--color-light-2) 100%
      );
      color: var(--color-text-darkest);
      width: 30%;
      height: 100%;
      margin: 0;
      border-top-right-radius: inherit;
      border-bottom-right-radius: inherit;

      @include respond(popup-big) {
        width: 40%;
      }

      @include respond(phone) {
        width: 100%;
        height: auto;
        border-top-right-radius: unset;
        border-bottom-left-radius: inherit;
        flex-direction: row;
        flex-wrap: wrap;
      }

      & h3 {
        font-size: 2.5rem;
        margin-top: 3rem;

        @include respond(tab-land) {
          margin-top: 4rem;
        }

        @include respond(tab-port) {
          margin-top: 2rem;
        }

        @include respond(phone) {
          margin: 0 3rem 0.5rem 3rem;
        }
      }

      &-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        background: url(../../resources/programming400.jpg), #000000ec;
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        width: 70%;
        padding: 1.6rem;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        -webkit-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75),
          inset 5px 5px 12px 0px rgba(240, 240, 240, 0.5);
        -moz-box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75),
          inset 5px 5px 12px 0px rgba(240, 240, 240, 0.5);
        box-shadow: 5px 5px 7px 0px rgba(0, 0, 0, 0.75),
          inset 5px 5px 12px 0px rgba(240, 240, 240, 0.5);

        @include respond(tab-land) {
          width: 85%;
        }

        @include respond(tab-port) {
          width: 90%;
        }

        @include respond(phone) {
          width: 40%;
          height: 80%;
          margin: 0;
          // margin-left: 1rem;
          margin-bottom: 1rem;
          margin-top: 1rem;
          // margin-right: 1rem;
        }

        @include respond(bp-small) {
          width: 72%;
          height: 90%;
        }

        @include respond(bp-smallest) {
          width: 90%;
        }

        & p {
          padding: 1rem;
          color: var(--color-text-light);
          font-size: 1.6rem;
          width: 88%;
          text-align: center;

          &:not(:last-of-type) {
            border-bottom: 1px solid var(--border-primary);
          }

          @include respond(bp-small) {
            &:first-of-type {
              padding-top: 0;
            }

            &:last-of-type {
              padding-bottom: 0;
            }
          }
        }
      }
    }

    &-close {
      position: absolute;
      z-index: 5;
      right: 1rem;
      top: 1rem;
      font-size: 4rem;
      color: #ac0707;
      cursor: pointer;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.5));

      @include respond(phone) {
        top: -2rem;
        right: -2rem;
      }

      &:hover {
        color: #d83131;
        transform: scale(1.2);
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        -ms-transform: scale(1.2);
        -o-transform: scale(1.2);
      }
    }

    &-buttons {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      @include respond(phone) {
        justify-content: center;
      }

      @include respond(bp-small) {
        flex-direction: row;
        margin-bottom: 1rem;

        & a {
          font-size: 1.8rem;
          padding: 1rem 0.5rem;
        }
      }

      @include respond(bp-smallest) {
        & a {
          font-size: 1.6rem;
        }
      }
    }
  }
}

#tab-laptop:checked ~ .popup-inner-views-view > .popup-inner-views-view-laptop,
#tab-tablet:checked ~ .popup-inner-views-view > .popup-inner-views-view-tablet,
#tab-phone:checked ~ .popup-inner-views-view > .popup-inner-views-view-phone {
  display: block;
  padding: 1rem 0;
  text-align: center;
  animation: hopInLeft 0.8s ease-out;
  -webkit-animation: hopInLeft 0.8s ease-out;

  @include respond(phone) {
    padding: 0;
  }
}

.popup-inner-views-view {
  &-laptop {
    & .computer {
      margin: 2rem auto 20rem auto;
      transform: translateY(5%);
      -webkit-transform: translateY(5%);
      -moz-transform: translateY(5%);
      -ms-transform: translateY(5%);
      -o-transform: translateY(5%);
      background-image: url("../../resources/monitor500.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 500px;
      height: 400px;

      &::after {
        width: 461px;
        height: 247px;
        left: 19px;
        top: 20px;
      }

      @include respond(popup-big) {
        background-image: url("../../resources/monitor350.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 350px;
        height: 280px;

        &::after {
          width: 323px;
          height: 173px;
          left: 13px;
          top: 14px;
        }
      }

      @include respond(bp-medium) {
        background-image: url("../../resources/monitor300.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 300px;
        height: 238px;

        &::after {
          width: 277px;
          height: 148px;
          left: 11px;
          top: 12px;
        }
      }

      @include respond(bp-medium-small) {
        background-image: url("../../resources/monitor250.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 250px;
        height: 198px;

        &::after {
          width: 231px;
          height: 123.5px;
          left: 9px;
          top: 10px;
        }
      }

      @include respond(bp-small) {
        background-image: url("../../resources/monitor200.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 200px;
        height: 159px;

        &::after {
          width: 185px;
          height: 99px;
          left: 7px;
          top: 8px;
        }
      }

      @include respond(phone) {
        margin-top: 1rem;
        margin-bottom: 5rem;
      }
    }

    & h3 {
      margin-top: 2rem;

      @include respond(tab-land) {
        margin-top: 1rem;
      }

      @include respond(phone) {
        margin-top: 0.5rem;
        font-size: 2.6rem;
      }
    }
  }

  &-tablet {
    & .tablet {
      position: relative;
      margin: 2rem auto 20rem auto;

      background-image: url("../../resources/tablet400h.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 271px;
      height: 400px;
      transform: translateY(5%);
      -webkit-transform: translateY(5%);
      -moz-transform: translateY(5%);
      -ms-transform: translateY(5%);
      -o-transform: translateY(5%);

      &::after {
        width: 237px;
        height: 316px;
        top: 42px;
        left: 17px;
      }

      @include respond(popup-big) {
        background-image: url("../../resources/tablet280h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 192px;
        height: 280px; //1.42857

        &::after {
          width: 166px;
          height: 221px;
          top: 29.5px;
          left: 12px;
        }
      }

      @include respond(phone) {
        margin-top: 1rem;
        margin-bottom: 5rem;
      }

      @include respond(bp-medium) {
        background-image: url("../../resources/tablet238h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 162px;
        height: 238px; //1.185185

        &::after {
          width: 141px;
          height: 187px;
          top: 25px;
          left: 10px;
        }
      }

      @include respond(bp-medium-small) {
        background-image: url("../../resources/tablet198h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 135px;
        height: 198px; //1.185185

        &::after {
          width: 117px;
          height: 156px;
          top: 21px;
          left: 8px;
        }
      }

      @include respond(bp-small) {
        background-image: url("../../resources/tablet159h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 108px;
        height: 159px; //1.185185

        &::after {
          width: 93.5px;
          height: 125px;
          top: 17px;
          left: 6.5px;
        }
      }
    }
    & h3 {
      margin-top: 2rem;

      @include respond(tab-land) {
        margin-top: 1rem;
      }

      @include respond(phone) {
        margin-top: 0.5rem;
        font-size: 2.6rem;
      }
    }
  }

  &-phone {
    & .phone {
      position: relative;
      margin: 2rem auto 0 auto;
      margin-right: 0;

      background-image: url("../../resources/phone400h.png");
      background-size: contain;
      background-repeat: no-repeat;
      width: 199px;
      height: 400px;
      transform: translateY(5%);
      -webkit-transform: translateY(5%);
      -moz-transform: translateY(5%);
      -ms-transform: translateY(5%);
      -o-transform: translateY(5%);

      &::after {
        width: 183px;
        height: 320px;
        top: 37px;
        left: 7.5px;
        border: none;
      }

      @include respond(popup-big) {
        background-image: url("../../resources/phone280h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 139px; //1.4136546
        height: 280px;

        &::after {
          width: 129.5px;
          height: 226px;
          top: 26px;
          left: 5px;
        }
      }

      @include respond(phone) {
        margin-top: 1rem;
        margin-bottom: 5rem;
      }

      @include respond(bp-medium) {
        background-image: url("../../resources/phone238h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 118px; //1.177966
        height: 238px;

        &::after {
          width: 110px;
          height: 192px;
          top: 22px;
          left: 4px;
        }
      }

      @include respond(bp-medium-small) {
        background-image: url("../../resources/phone198h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 98px; //1.204
        height: 198px;

        &::after {
          width: 91px;
          height: 159.5px;
          top: 18px;
          left: 3px;
        }
      }

      @include respond(bp-small) {
        background-image: url("../../resources/phone159h.png");
        background-size: contain;
        background-repeat: no-repeat;
        width: 79px; //1.2405
        height: 159px;

        &::after {
          width: 73px;
          height: 128.5px;
          top: 14.5px;
          left: 2px;
        }
      }

      @media only screen and (min-width: 50em) {
        margin-bottom: 20rem;
      }
    }
    & h3 {
      margin-top: 2rem;

      @include respond(tab-land) {
        margin-top: 1rem;
      }

      @include respond(phone) {
        margin-top: 0.5rem;
        font-size: 2.6rem;
      }
    }
  }
}

#tab-laptop {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
