*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1rem = 10px;
  user-select: none;
  scroll-behavior: smooth !important;

  @include respond(bp-medium) {
    font-size: 50%;
  }

  @include respond(tab-land) {
    // width < 1200?
    font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  }

  @include respond(tab-port) {
    // width < 900?
    font-size: 50%; //1 rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 80%; //1rem = 12, 12/16
  }
}

body {
  box-sizing: border-box;
  background-color: var(--color-primary);
  // overflow: hidden;
  overflow-x: hidden;

  & * {
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
  }
}

a {
  text-decoration: none;
  color: var(--color-text-light);
}
