// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Mono', monospace;
html {
  font-family: "Roboto", sans-serif;
}

#navigation {
  font-family: "Roboto Mono", monospace;
}

h2 {
  font-size: 4rem;
  text-align: center;
}

h3 {
  text-align: center;
  font-size: 3rem;
  letter-spacing: 2px;
}

span {
  display: inline-block;
}
