.cursive {
  font-family: "Dancing Script", cursive;
  font-size: 2rem;
  opacity: 0.35;
}

.indent-small {
  margin-left: 3rem;

  @include respond(phone) {
    margin-left: 2rem;
  }

  @include respond(bp-smallest) {
    margin-left: 1rem;
  }
}

.indent-medium {
  margin-left: 8rem;

  @include respond(phone) {
    margin-left: 5rem;
  }

  @include respond(bp-smallest) {
    margin-left: 3rem;
  }
}

.text-shadow-dark {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.75);
}
.text-shadow-light {
  text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.45);
}
.text-shadow-medium {
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
}

.txt-primary {
  color: var(--color-primary);
}
